<%= form_with model: author do |form| %>
    <div>
      <%= form.label :fname %><br>
      <%= form.text_field :fname %>
      <% author.errors.full_messages_for(:fname).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
  
    <div>
      <%= form.label :lname %><br>
      <%= form.text_field :lname %><br>
      <% author.errors.full_messages_for(:lname).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>

    <div>
      <%= form.label :email %><br>
      <%= form.text_field :email %><br>
      <% author.errors.full_messages_for(:email).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>

    <div>
      <%= form.label :status %><br>
      <%= form.select :status, Visible::VALID_STATUSES, selected: author.status || 'public' %>
    </div>
  
    <div>
      <%= form.submit %>
    </div>
  <% end %>